/* 본고딕을 웹폰트로 선언하는 css 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
     margin: 0;
    padding: 0;
}
body {
    font-family: "Noto Sans KR", sans-serif;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
h1 {
    color: #20c85a;
    font-size: 17px;
    font-weight: 500;
    margin: 240px 0 10px 0; /* 위-오른쪽-아래-왼쪽 시계방향 */
}
p {
    font-size: 15px;
    color: #3d3d3d;
    font-weight: 500;
    letter-spacing: -1px;
    word-break: keep-all;
        margin: 0 0 29px 0;

}
.tit {
    font-size: 40px;
    color: #1d1d1d;
    font-weight: 700;
    line-height: 1.2;
}