/* 글자의 스타일은 상속받음. 기본글자의 스타일은 
모든 태그를 감싸는 html body에 선언 */
html, body {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0em; /* 자간 */
    line-height: 1.4; /* 배수 - 글자크기에 1.4배 */
    color: #3d3d3d; /* 글자 색상 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
    word-wrap: break-word; /*만약 단어가 엄청 길면 강제로 줄바꿈 실행*/
}
/* 홈페이지 전체를 감싸는 요소 - 
   가로스크롤바가 생겼을때 배경이 짤리는 현상을 막음 */
#wrap {
    min-width: 1260px;
}
/* 홈페이지의 넓이를 제한하고 가운데정렬 */
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데정렬 */
}

/*1260px wrapper의 넓이에 좌우 여백 20px씩 추가한 사이즈부터 반응형*/
@media screen and (max-width:1300px){
    #wrap {
        min-width: 1300px;
    }
    .wrapper { /*넓이는 1260px 유지 - 좌우에 20p*/
        margin: 0 20px;
    }
}/*media*/

@media screen and (max-width:640px){ /*모바일 반응형*/
    html, body {
        font-size: 13px;
    }
    #wrap {
        min-width: 100%;
    }
    .wrapper {
        width: auto ;
    }
}/*media*/