@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}
body {  /* 전체에 적용될 기본 글자 스타일 */
    font-family: "Pretendard";
    font-weight: 400;
    color: #3d3d3d;
    letter-spacing: -0.02em;
    line-height: 1.4; /* 배수 */
    font-size: 15px;
    word-break: keep-all; /* 단어별로 줄바꿈 */
}
/* 홈페이지의 넓이를 결정하고, 가운데 정렬하게 하는 요소 */
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 좌우여백 반반 */
}
* {  /* 모든 태그의 여백 삭제 */
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* 높이, 넓이가 padding 때문에 늘어나는 현상을 막는 속성*/
}
em {  /* 태그의 기울임 스타일 삭제 */
    font-style: normal;
}
.intro {
    text-align: center; /* 가운데 정렬 */
    margin: 170px 0 170px 0;
}
.biz {
    text-align: center; /* 가운데 정렬 */
    background-color: #f7f7f7;
    padding: 170px 0 170px 0;
}
.intro h1,  .biz h1 {
    font-size: 18px;
    font-weight: 400;
    color: #0091ff;
}
.intro p,  .biz p {
    color: #666666;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2; /* 배수 */
    margin: -4px;
}
.intro p em,  .biz p em {
    color: #1d1d1d; 
}
.intro p strong,  .biz p strong {
    color: #0091ff;
}
.Company {
    margin: 150px 0 150px 0;
}
.Company h1 {
    color: #1d1d1d;
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 20px 0;
}
.Company p strong {
    font-weight: 700;
    color: #1d1d1d;
}
.Overview {
    /* 배경이미지는 그 영역이 존재하는 만큼만 보임 
    - 영역이 작으면 이미지 잘림 */
    background: url(../images/overview_bg.png) no-repeat center center / cover ; 
    color: #ffffff;  /* 배경때문에 글자의 색이 변경되었다면, 배경과 글자색상을 동시에 선언하는 것이 좋음*/
    height: 603px;
    text-align: right;
    padding: 215px 65px 0 0;
}
.Overview h1 {
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 20px 0;
}
.Overview p strong {
    font-weight: 700;
    text-decoration: underline;
}