@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.biz h2 {color: #1d1d1d; font-weight: 700; font-size: 45px; text-align: center; margin: 85px 0 20px 0;}
.biz .list ul {display: flex; justify-content: space-between;}
.biz .list ul li {width: 297px;}
.biz .list ul li a h3 {color: #1d1d1d; font-weight: 700; font-size: 25px; margin: 10px 0 7px 0;}

.tech {background-color: #f4f4f4; margin-top: 83px; padding: 83px 0;}
.tech h2{color: #1d1d1d; font-weight: 700; font-size: 45px; text-align: center; margin: 0 0 20px 0;}
.tech .list ul {display: flex; justify-content: space-between;}
.tech .list ul li {width: 618px;}
.tech .list ul li.tech1 {background: url(../images/tech01.png) no-repeat center center / cover;}
.tech .list ul li a {height: 514px; display: block; padding: 200px 0 0 0;}
.tech .list ul li.tech2 {background: url(../images/tech02.png) no-repeat center center / cover;}
.tech .list ul li a h3 {color: #fff; font-weight: 700; font-size: 35px; text-align: center; margin: 0 0 14px 0;}
.tech .list ul li a p {color: #fff; text-align: center;}