@import url(fonts.css);
@import url(default.css);

/*글자의 스타일은 상속받음 - 기본글자의 스타일은 모든 태그를 감싸는 html, body에 선언*/
html, body {
    font-family: 'S-CoreDream', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.4;
    letter-spacing: 0em; /*자간*/
    word-break: keep-all; /*단어별로 줄바꿈*/
}
#wrap { /* # - id / 홈페이지 전체를 감싸는 요소*/
    min-width: 1260px; /*스크롤바를 움직일 때 짤리는 걸 방지*/
}
.wrapper { /*홈페이지의 넓이를 제한하고 가운데 정렬*/
    width: 1260px;
    margin: 0 auto; /*가운데정렬*/
    box-sizing: border-box;
}

header {
    height: 100px;
    /*감싸는 요소 어떤값에도 position을 안주면 body를 기준으로 정렬
    header는 원래 block요소이기 때문에 넓이가 브러우저 넓이만큼 들어감
    근데, position: absolute값이 적용되면 넓이값은 내부 콘텐츠 요소의 넓이값만큼만 적용됨
    header에 position: absolute를 주면 넓이 100%를 준다고 생각*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    /*position 속성이 있는 요소들은 서로 순서(위아래)가 존재함
      기본적으로 나중에 position이 선언된 요소가 더 위에 존재함
      <header></header>  -- position
        <section class="visual"></section> -- position
      이렇게 코딩된 경우 visual이 header보다 위에 배치됨
      이때 header를 더 위에 배치하기 위해서 주는 속성
      (순서를 변경하기 위해서 주는 속성을 z-index라고 함)
      z-index는 숫자가 높은 요소가 더 위
      대부분 header는 100 나머지 콘텐츠는 100 아래 값을 줌
      <header></header>  -- position z-index 100
        <section class="visual"> -- position z-index 10
          <div class="tit"></div>  -- position z-index 200
        </section>
      header가 맨위가 됨
      visual tit은 visual보다 위에 배치될 수가 없음*/
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 34px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    padding: 37px 30px 32px 30px;
    color: #fff;
    font-size: 22px;
}
header .gnb ul li a:hover {
    color: #2264DC;
}

.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    border-radius: 0 0 250px 0;
}
.visual .wrapper {
    height: 900px;
    /*.visual .camera absolute의 기준
    absolute는 감싸는 요소 중에서 position 속성을 가지고 있는 
    가장 가까운 요소를 기준으로 정렬이 됨
    <div>  --  position:relative
      <strong>  --  position:relative
        <span></span?>  --  absolute
      </strong>
    </div>
    이런 구조의 경우 span태그는 strong을 기준으로 정렬
    절대 div를 기준으로 정렬 불가
    
    만약 해당 요소가 position 속성이 없으면 position:relative를 줌
    relative는 어떠한 요소에 주더라도 스타일에 영향을 미치지 않음*/
    position: relative;
}
.visual h2 {
    text-align: center; /*이미지도 가운데 정렬 가능*/
    padding: 287px 0 0 0;
}
.visual .camera {
    /*.visual .wrapper를 기준으로 정렬*/
    position: absolute;
    right: -75px;
    bottom: -44px;
}
.visual .camera a {
    width: 150px;
    height: 150px;
    border-radius: 50%; /*정사각형에 border-radius 50%가 동그라미*/
    background-color: #2264DC;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.16);
}
.visual .camera a span {
    margin: 5px 0 0 0;
    line-height: 1.2;
}
.culture .tit {
    margin: 112px 0 26px 0;
}
.culture .tit h2 {
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
}
.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li {
    width: 297px;
}
.culture .list ul li a h3 {
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;
    margin: 21px 0 5px 0;
}
.culture .list ul li a .photo {
    overflow: hidden; 
    /*이미지가 photo의 크기보다 커지면 넘치는 부분을 숨김*/
    font-size: 0;
    line-height: 0;
    /*이미지 하단에는 글자의 행간(여백)값이 들어감
    그래서 하단에 여백이 조금 발생함
    여백을 없애는 방법 - 감싸는 요소에 글자크기0, 행간0을 줌*/
}
.culture .list ul li a .photo img {
    transition: 0.5s;
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.culture .wrapper {
    position: relative; /*.culture .more a 정렬의 중심*/
}
.culture .more {
    /*.culture .wrapper를 기준으로 정렬*/
    position: absolute;
    right: 0;
    top: 32px;
}
.culture .more a {
    border: 1px solid #9f9f9f;
    color: #666;
    border-radius: 20px;
    display: block;
    padding: 8px 49px 7px 21px;
    background: url(../images/more.svg) no-repeat right 22px center;
    /*오른쪽에서 22px 떨어져있고, 위아래 가운데*/
}
.culture .more a:hover {
    border-color: #0A0045;
    background-color: #0A0045;
    background-image: url(../images/more_w.svg);
    color: #fff;
}

.tour .tit {
    margin: 125px 0 26px 0;
}
.tour .tit h2 {
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
}
.tour .list ul li {
    width: 190px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255,255,255,0.8);
}
.tour .list ul li.active { /*li중에서 active 클래스를 갖고 있는 li*/
    width: 618px;
}
.tour .list ul li.tour1 {
    background-image: url(../images/tour1.png);
}
.tour .list ul li.tour2 {
    background-image: url(../images/tour2.png);
}
.tour .list ul li.tour3 {
    background-image: url(../images/tour3.png);
}
.tour .list ul li.tour4 {
    background-image: url(../images/tour4.png);
}
.tour .list ul li a {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 5px 63px 5px;
    text-align: center;
}
.tour .list ul li.active a {
    padding: 0 40px 34px 40px;
    text-align: left;
}
.tour .list ul li a p {
    display: none; /*숨김 (공간차지X)*/
}
.tour .list ul li.active a p {
    display: block; /*숨김 취소(none이 아닌 걸 주면)*/
}
.tour .list ul li a h3 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.tour .wrapper {
    position: relative; /*.tour .more 정렬의 기준*/
}
.tour .more {
    position: absolute; /*.tour .wrapper를 기준으로 정렬*/
    right: 0;
    top: 28px;
}
.tour .more a {
    padding: 10px 50px 8px 22px;
    border: 1px solid #9f9f9f;
    border-radius: 20px;
    display: inline-block;
    background: url(../images/more.svg) no-repeat right 22px center;
} 
.tour .more a:hover {
    color: #fff;
    background-color: #0A0045;
    border-color: #0A0045;
    background-image: url(../images/more_w.svg);
}

.community {
    margin: 165px 0 0 0;
    height: 776px;
    background: url(../images/community_bg.png) no-repeat center center / cover;
    color: rgba(255,255,255,0.8);
}
.community .wrapper {
    display: flex;
}
.community .tit {
    width: 321px;
    margin: 160px 0 0 0;
}
.community .tit h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
.community .tit strong {
    font-size: 31px;
    color: #fff;
    margin: 3px 0 13px 0;
    display: block;
}
.community .news {
    background-color: rgba(75,95,109,0.66);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    width: 511px;
    height: 366px;
    margin: 123px 0 0 0;
    padding: 0 35px;
}
.community .news h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 39px 0 22px 0;
}




footer {
    margin-top: 500px;
}