@import url(default.css);
@import url(fonts.css);

/* 글자의 스타일은 상속받음. 기본글자의 스타일은 
모든 태그를 감싸는 html body에 선언 */
html, body {
    font-family: 'S-CoreDream', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0em; /* 자간 */
    line-height: 1.4; /* 배수 - 글자크기에 1.3배 */
    color: #3d3d3d; /* 글자 색상 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
}
/* 홈페이지 전체를 감싸는 요소 - 
   가로스크롤바가 생겼을때 배경이 짤리는 현상을 막음 */
#wrap {
    min-width: 1260px;
}
/* 홈페이지의 넓이를 제한하고 가운데정렬 */
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데정렬 */
}

header {
    height: 100px;
    /* 감싸는 요소 어떤값에도 position을 안주면 body를 기준으로 정렬 
      header는 원래 block요소 이기때문에 넓이가 브라우저 넓이만큼 들어감... 
      근데, position:absolute값이 적용되면 넓이값은 내부 콘텐츠 요소의 
      넓이값만큼만 적용됨..... 
      header에 position:absolute를 주면 넓이 100%를 준다고 생각... */
    position: absolute; 
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    /* position 속성이 있는 요소들은 서로 순서(위아래)가 존재함. 
       기본적으로 나중에 position이 선언된 요소가 더 위에 존재함
       <header></header> -- position
       <section class="visual"></section> -- position
       이렇게 코딩된경우 visual이 header보다 위에 배치됨
       이때 header를 더 위에 배치하기 위해서 주는 속성
       (순서를 변경하기 위해서 주는 속성을 z-index라고 함.
       z-index는 숫자가 높은 요소가 더 위
       대부분 header는 100 나머지 콘텐츠는 100아래 값을 줌
       <header></header> -- position  z-index 100
       <section class="visual"> -- position z-index 10 
           <div class="tit"></div> -- position z-index 200
       </section>
        header가 맨위가 됨... 
        visual tit은 visual보다 위에 배치될 수가 없음. 
        (감싸는 요소가 z-index 10이기때문에 header보다 높은 숫자를 줘도 아래 배치)
    */
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 34px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    padding: 37px 30px 32px 30px;
    color: #fff;
    font-size: 22px;
}
header .gnb ul li a:hover {
    color: #2264DC;
    font-weight: 700;
}
.visual {
    border-radius: 0 0 250px 0;
    background: url(../images/visual_bg.png) no-repeat center center / cover;
}
.visual .wrapper {
    height: 900px;
    /* .visual .camera absolute의 기준 
     absolute는 감싸는 요소 중에서 position 속성을 가지고 있는
     가장 가까운 요소를 기준으로 정렬이 됨
      <div> -- position:relative
        <strong> -- position:relative
            <span></span> -- absolute
        </strong>
      </div>
      이런 구조의 경우 span태그는 strong을 기준으로 정렬 
      절대 div를 기준으로 정렬 불가

      만약 해당 요소가 position 속성이 없으면 position:relative를 줌
      relative는 어떠한 요소에 주더라도 스타일에 영향을 미치지 않음
    */
    position: relative;
}
.visual h2 {
    padding: 282px 0 0 0;
    text-align: center; /* 이미지도 가운데 정렬 가능 */
}
.visual .camera {
    /* .visual .wrapper 를 기준으로 정렬*/
    position: absolute;
    right: -75px;
    bottom: -44px;
}
.visual .camera a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%; /* 정사각형에 border-radius 50%가 동그라미 */
    background-color: #2264DC;
    color: #fff;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.16);
}
.visual .camera a span {
    margin: 5px 0 0 0;
    line-height: 1.2;
}

.culture .tit {
    margin: 112px 0 26px 0;
}
.culture .tit h2 {
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.03em;    
}
.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li {
    width: 297px;
}
.culture .list ul li a h3 {
    color: #1d1d1d;
    font-weight: 700;
    font-size: 20px;
    margin: 21px 0 5px 0;
}
.culture .list ul li a .photo {
    overflow: hidden;
    /* 이미지가 photo의 크기보다 커지면 
       넘치는 부분 숨김 */
    font-size: 0;
    line-height: 0;
    /* 이미지 하단에는 글자의 행간(여백)값이 들어감. 그래서 하단에 여백이 조금 발생
      이 여백을 없애고 싶다면 이미지만 감싸는 요소가 글자크기0 행간0 값을 줘야함. */
}
.culture .list ul li a .photo img {
    transition: 0.5s;
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.culture .wrapper {
    position: relative; 
    /* .culture .more a 정렬의 중심 */
}
.culture .more {
    /* .culture .wrapper를 기준으로 정렬 */
    position: absolute; 
    right: 0;
    top: 32px;
}
.culture .more a {
    display: block;
    padding: 8px 49px 7px 21px;
    border: 1px solid #9F9F9F;
    border-radius: 20px;
    background: url(../images/more.svg) no-repeat right 22px top 13px;
    /* 오른쪽에서 22px 떨어져서 있고, 위아래 가운데 */
    color: #666;
    transition: 0.1s;
    /* 나중에 a에 class가 추가되거나 또는 오버를 해서 스타일이 변경된다면
       0.5초의 시간동안 천천히 변하기 */
}
.culture .more a:hover {
    /* background가 선언된 상태에서 
       오버했을때 색상만 변한다면 반드시 background-color라고 정확하게 
       해당 속성명을 써줘야함; background라고 하고 색상만 선언하면 모든게 취소됨. */
    border-color: #2264DC;
    background-color: #2264DC;
    background-image: url(../images/more_w.svg);
    color: #fff;
}


.tour .tit {
    margin: 125px 0 26px 0;
}
.tour .tit h2 {
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.03em; 
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
}
.tour .list ul li {
    width: 190px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255,255,255,0.8);
}
/* li중에서 active 클래스를 갖고 있는 li */
.tour .list ul li.active {
    width: 618px;
}
.tour .list ul li.tour1 {
    background-image: url(../images/tour1.png);
}
.tour .list ul li.tour2 {
    background-image: url(../images/tour2.png);
}
.tour .list ul li.tour3 {
    background-image: url(../images/tour3.png);
}
.tour .list ul li.tour4 {
    background-image: url(../images/tour4.png);
}
.tour .list ul li a {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 5px 63px 5px;
    text-align: center;
}
.tour .list ul li.active a {
    padding: 0 40px 34px 40px;
    text-align: left;
}
.tour .list ul li a p {
    display: none; /* 숨김 (공간차지X) */
}
.tour .list ul li.active a p {
    display: block; 
    /* 나타남; display:none; 으로 숨기는 경우 
       display:inine; inline-block; block; flex; 줘도 모두 나타남 */
}
.tour .list ul li a h3 {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}
.tour .wrapper {
    position: relative; /* .tour .more 정렬의 기준 */
}
.tour .more {
    position: absolute; /* .tour .wrapper를 기준으로 정렬 */
    right: 0;
    top: 28px;
}
.tour .more a {
    padding: 10px 50px 8px 22px;
    border: 1px solid #9F9F9F;
    border-radius: 20px;
    display: inline-block;
    background: url(../images/more.svg) no-repeat right 22px center;
}
.tour .more a:hover {
    border-color: #2264DC;
    background-color: #2264DC;
    background-image: url(../images/more_w.svg);
    color: #fff;
}

.community {
    margin: 165px 0 0 0;
    height: 776px;
    background: url(../images/community_bg.png) no-repeat center center / cover;
    color: rgba(255,255,255,0.8);
}
.community .wrapper {
    display: flex;
}
.community .tit {
    width: 321px;
    margin: 167px 0 0 0;
}
.community .tit h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.03em;
    line-height: 1.2;
}
.community .tit strong {
    font-size: 31px;
    color: #fff;
    margin: 9px 0 13px 0;
    display: block; /* margin을 적용해주기 위한값 */
}
.community .news {
    background-color: rgba(75, 95, 109, 0.66);
    border-radius: 10px;
    backdrop-filter: blur(3px); /* 박스의 뒷배경을 흐리게 하는 효과 */
    width: 511px;
    height: 366px;
    margin: 123px 0 0 0;
    padding: 0 35px; /* 내부여백 */
}
.community .news h3 {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    margin: 39px 0 22px 0;
}
.community .news ul li {
    border-top: 1px solid rgba(255,255,255,0.2);
}
.community .news ul li:first-child {
    border-top: 0;
}
.community .news ul li a {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 9px 0;
}
.community .news ul li a strong {
    color: #fff;
    font-size: 15px;
}
.community .news ul li a:hover strong {
    font-weight: 700;
}
.community .link {
    width: 404px; /* li한개의 넓이X2  + gap */
    margin: 123px 0 0 24px;
}
.community .link ul {
    display: flex;
    flex-wrap: wrap; /* 두줄허용 */
    gap: 24px; /* li사이의 여백 */
}
.community .link ul li {
    width: 190px;
}
.community .link ul li a {
    display: block;
    height: 171px;
    padding: 32px;
    background-color: rgba(75, 95, 109, 0.66);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.03em;
    line-height: 1.2;
    background-position: right 32px bottom 32px;
    background-repeat: no-repeat;
}
.community .link ul li.link1 a {
    background-image: url(../images/community_ico1.svg);
}
.community .link ul li.link2 a {
    background-image: url(../images/community_ico2.svg);
}
.community .link ul li.link3 a {
    background-image: url(../images/community_ico3.svg);
}
.community .link ul li.link4 a {
    background-image: url(../images/community_ico4.svg);
}


footer {
    padding: 45px 0 90px 0;
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
}
footer .f_nav ul {
    display: flex;
    gap: 45px; /* li사이여백 */
}
footer .f_nav ul li {
    position: relative; /* ::after 정렬의 기준 */
}
footer .f_nav ul li::after {
    content: ""; 
    /* 가상요소 before와 after사용하실때는 반드시 content 필요 
       지우면 나타나지 않음 */
    width: 1px;
    height: 12px;
    background-color: #CCCCCC;
    display: block;
    position: absolute; /* 각각의 li를 기준으로 정렬 */
    right: -24px;
    top: 4px;
}
/* li중에서 마지막 li의 after */
footer .f_nav ul li:last-child::after {
    display: none;/* 숨김 */
}
footer .f_info {
    margin: 32px 0 13px 0;
    display: flex;
    gap: 45px; /* li사이여백 */
}
footer .copyright {
    color: #666;
}
footer .familysite button {
    width: 190px;
    height: 41px;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    padding: 0 15px;
    text-align: left; /* 버튼의 기본은 가운데 - 왼쪽정렬로 변경 */
    background: url(../images/more.svg) no-repeat right 15px center;
}