/* 태그의 스타일 초기화 - 브라우저가 태그에 준 스타일을 모두 삭제 */
* {
    padding: 0; margin: 0;  /* 모든 태그의 여백삭제 */
    box-sizing: border-box;
}
li {  /* ul li 앞에 동그라미 삭제 */
    list-style: none;
}
/* 글자크기가 커지고, 두꺼워지는 스타일 삭제 */
h1, h2, h3, h4, h5, h6, strong {
    font-size: inherit;  /* 상위요소에서 정의된대로 상속 inherit */
    font-weight: inherit;
}
em {
    font-style: normal;
}