@import url(default.css);  /* default.css.불러오기*/

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
html, body {
    font-family: "Pretendard", sans-serif; /* sans-serif : 고딕체라는 의미 */
    font-size: 15px;
    color: #3d3d3d;
    line-height: 1.4;
    font-weight: 400;
    word-break: keep-all;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
.asset h1 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
    margin: 220px 0 10px 0;
}
.asset ul {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
    /*
    ul태그에 flex를 주면 그 자식(바로 아래 태그)에만 좌우로 정렬 적용
        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    */

}
.asset ul li {
    width: 404px;
    height: 210px;
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 75px 0 0 55px;
}
.asset ul li p {
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
.core {
    margin: 160px 0 0 0;
    display: flex;
}
.core .photo img {
    border-radius: 20px;
}
.core .txt {
    margin: 103px 0 0 110px;
}
.core .txt h1 {
    font-weight: 700;
    color: #376ebb;
    line-height: 1.2;
}
.core .txt p {
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
}
.reqm h1 {
    margin: 150px 0 40px 0;
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
}
.reqm ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.reqm ul li {
    width: 511px;
    height: 302px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    padding: 205px 0 0 30px;
    margin: 0 12px 24px 12px;
}
.reqm ul li:nth-child(1) {
    background-image: url(../images/reqm1.png);
}
.reqm ul li:nth-child(2) {
    background-image: url(../images/reqm2.png);
}
.reqm ul li:nth-child(3) {
    background-image: url(../images/reqm3.png);
}
.reqm ul li:nth-child(4) {
    background-image: url(../images/reqm4.png);
}