@import url(fonts.css);
@import url(default.css);

/*글자의 스타일은 상속받음 - 기본글자의 스타일은 모든 태그를 감싸는 html, body에 선언*/
html, body {
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #2d2d2d;
    line-height: 1.4;
    letter-spacing: 0em; /*자간*/
    word-break: keep-all; /*단어별로 줄바꿈*/
}
#wrap { /* # - id / 홈페이지 전체를 감싸는 요소*/
    min-width: 1260px; /*스크롤바를 움직일 때 짤리는 걸 방지*/
}
.wrapper { /*홈페이지의 넓이를 제한하고 가운데 정렬*/
    width: 1260px;
    margin: 0 auto; /*가운데정렬*/
}

header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 21px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a { /*1차 메뉴 사이즈 - a에게 여백줘야 함*/
    font-size: 20px;
    color: #1d1d1d;
    padding: 36px 27px;
    display: block; /*a는 inline태그*/
}
header .gnb ul li a:hover { /*마우스를 올렸을 때*/
    color: #0057BE;
    font-weight: 800;
    font-size: 21px;
}

.visual {
    height: 850px;
    background: url(../images/visula_bg.png) no-repeat center center / cover;
    color: #fff;
}
.visual strong {
    padding: 365px 0 0 0;
    display: block; /*인라인 요소는 여백이 적용X*/
}
.visual h2 {
    font-size: 45px;
    line-height: 1.2;
}

.introduce .art {
    display: flex;
    justify-content: center;
    margin: 160px 0 56px 0;
}
.introduce .art .txt {
    margin: 0 0 0 107px;
    width: 428px;
}
.introduce .scholarship {
    display: flex;
    justify-content: center;
    text-align: right;
}
.introduce .scholarship .txt {
    margin: 0 107px 0 0;
    width: 428px;
}
.introduce .scholarship ul { /*flex로 배치한 버튼을 오른쪽 정렬*/
    justify-content: flex-end;
} 
.introduce h2 {
    color: #1d1d1d;
    font-size: 45px;
    font-weight: 800;
    margin: 65px 0 0 0;
}
.introduce strong {
    color: #0057BE;
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    margin: 14px 0;
    display: block;
}
.introduce ul {
    display: flex;
    /*a태그는 원래 좌우로 배치 -> 하지만 좌우 여백이 발생 -> 좌 우 여백 삭제 flex*/
    margin: 35px 0 0 0;
}
.introduce ul li a {
    border: #666 solid 1px;
    padding: 6px 21px;
    display: block; /*padding값을 적용하기 위해*/
    margin: 0 10px 0 0;
}
.introduce ul li:last-child a { /*마지막 li의 a*/
    margin-right: 0;
}
.introduce ul li a:hover {
    background-color: #8EE353;
    border: #8EE353 solid 1px;
    color: #fff;
}

.promotion {
    background: url(../images/news_bg.png) no-repeat center top;
    /*배경보다 내부의 콘텐츠 길이가 더 긺 -> 배경의 위치를 정확하게*/
    margin: 160px 0 0 0;
}
.promotion .news {
    color: rgba(255,255,255,0.8);
    padding: 130px 0 205px 0;
}
.promotion .news .wrapper {
    display: flex;
    justify-content: space-between
}
.promotion .news .tit h2 {
    font-size: 45px;
    font-weight: 800;
    color: #fff;
    margin: 0 0 5px 0;
    padding: 20px 0 0 0;
}
.promotion .news .tit h2 strong {
    color: #8EE353;
}
.promotion .news .tit a {
    border: 1px solid rgba(255,255,255,0.8);
    padding: 6px 21px;
    display: inline-block;
    margin: 40px 0 0 0;
}
.promotion .news .tit a:hover {
    background-color: #8EE353;
    border: #8EE353 solid 1px;
    color: #0057BE
}
.promotion .news .list {
    width: 750px;
    height: 416px;
}
.promotion .news .list ul li {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.promotion .news .list ul li a {
    display: flex; /*block 요소로 만들어서 넓이가 100% 됨*/
    justify-content: space-between;
    align-items: center; /*위아래 가운데*/
    padding: 29px 0;
}
.promotion .news .list ul li strong {
    font-size: 25px;
    color: #fff;
}
.promotion .news .list ul li a:hover strong {
    color: #8EE353;
    font-weight: 800;
}
.promotion .news .list ul li a:hover span {
    color: #8EE353;
}

.promotion .movie .list ul {
    display: flex;
    justify-content: space-between;
    margin: 0 0 95px 0;
}
.promotion .movie .tit h2 {
    font-size: 45px;
    font-weight: 800;
    color: #fff;
    margin: 0 0 15px 0;
}
.promotion .movie .tit h2 strong {
    color: #8EE353;
}
.promotion .movie .list ul li {
    width: 404px;
}
.promotion .movie .list ul li a {
    display: block; /*a와 li의 영역 크기를 동일하게 해주기 위해*/
}
.promotion .movie .list ul li a .photo img {
    border: 2px solid #0057BE;
    /*이미지는 감싸는 영역의 크기를 이미지보다 작게해도 자동으로 줄어들지 않음
      본인의 사이즈대로 나타남 - 글자는 줄바꿈*/
    width: calc(100% - 4px)
    /*감싸는 photo의 넓이에 100% - 테두리는 별도
      넓이 100%에서 테두리 값을 뺀 넓이를 주면 됨*/
}
.promotion .movie .list ul li a strong {
    color: #2d2d2d;
    font-size: 20px;
    font-weight: 800;
}
/*마우스를 오버 - 스타일이 변경되는 요소의 스타일이 정의된 선택자를 그대로 복사해야함
  만약에 그냥 body라던가 다른 스타일을 상속받은 경우에는 그냥 a에게 스타일을 주면 됨*/
.promotion .movie .list ul li a:hover strong {
    color: #0057BE;
}
.promotion .movie .list ul li a:hover span {
    color: #0057BE;
}

footer {
    background-color: #ededed;
    padding: 80px 0 100px 0;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin: 0 44px 0 0;
}
footer .f_nav ul .privacy { 
    font-weight: 800;
} /*li에 스타일을 준 경우 - footer .f_nav ul li .privacy */
footer .f_info {
    margin: 28px 0;
}
footer .f_info address, footer .f_info span {
    margin: 0 44px 0 0;
    display: inline-block; 
    /*addrress(블럭태그) - span태그와 좌우에 배치
      span - margin 적용*/
}
footer .copyright {
    color: rgba(255,255,255,0.6);
}