@import url(default.css);  /*default.css.불러오기*/

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
html, body {
    font-family: "Pretendard", sans-serif; /*sans-serif : 고딕체라는 의미*/
    font-size: 15px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.4;
    word-break: keep-all; 
    letter-spacing: -0.02em;
}
#wrap { /*홈페이지 전체를 감싸는 요소*/
    min-width: 1260px;
}
.wrapper { /*홈페이지 넓이 제한, 가운데정렬*/
    width: 1260px;
    margin: 0 auto;
}
header {
    height: 100px;

}
header .wrapper {
    display: flex;
    justify-content: space-between
}
header .logo {
    margin: 33px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    font-size: 22px;
    color: #1d1d1d;
    line-height: 100px; /*header의 높이와 동일한 값*/
    /*행간을 100px주면 높이 100px안에 글자가 위아래 가운데로 정렬*/
    display: block; /*inline요소인 a를 block요소로 변경*/
    margin: 0 25px; /*위아래는 0, 좌우는 25px*/
}
header .gnb ul li a:hover { /*hover - 마우스를 오버했을 때*/
    font-weight: 700;
    color: #153bcc;
}
.visual {
    background: url(../imags/visual_bg.png) no-repeat center center / cover;
    height: 800px;
    color: #fff;
    text-align: center;
}
.visual h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
    padding: 315px 0 20px 0;
}
.biz .tit {
    margin: 130px 0 20px 0;
}
.biz .tit h2 {
    color: #153bcc;
}
.biz .tit strong {
    font-size: 35px;
    color: #1d1d1d;
    font-weight: 700;
    margin: -10px 0 0 0;
    display: inline-block;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;
}
.biz .list ul li {
    width: 297px;
    text-align: center;
}
.biz .list ul li a h3 {
    color: #1d1d1d;
    font-size: 28px;
    margin: 15px 0 15px 0;
}
.biz .list ul li a {
    display: block;
}
.biz .list ul li a p {
    margin: 0 20px 20px 20px;
}
.biz .list ul li a .more {
    width: 258px;
    height: 43px;
    line-height: 43px; /*행간=높이 - 글자가 위아래 가운데 정렬*/
    color: #153bcc;
    display: inline-block;
    border: 1px solid #cccccc;
}
.brand {
    background: url(../imags/brand_bg.png) no-repeat center center / cover;
    height: 851px;
    margin: 120px 0 0 0;
    color: #fff;
}
.brand h2 {
    color: #476bf2;
    padding: 330px 0 0 0;
}
.brand p {
    font-size: 45px;
    line-height: 1.1;
    margin: -5px 0 30px 0;
}
.brand p strong {
    font-weight: 700;
}
.brand a {
    background-color: rgba(21,59,204,0.5);
    padding: 15px 56px; /*위아래 15px, 좌우 56px*/
    display: inline-block;
}
footer {
    background-color: #252623;
    height: 306px;
    color: rgba(255,255,255,0.8);
    font-size: 16px;
    padding: 35px 0 60px 0;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin: 0 38px 0 0;
}

/*li.privecy(여백없음) - li중에서 privecy라는 클래스명을 가진 li*/
/*li .privecy(여백있음) - li안에서 privecy라는 클래스명을 가진 요소*/
footer .f_nav ul li.privecy { 
    font-weight: 700;
}
footer .f_sub {
    border-top: 1px solid rgba(255,255,255,0.1);
    margin: 30px 0 0 0; /*선 밖 여백*/
    padding: 35px 0 0 0; /*선 내부 여백*/
}
footer .f_sub .copy {
    margin: 25px 0 0 0;
    color: rgba(255,255,255,0.5);
}
footer .f_sub .f_info span {
    margin: 0 38px 0 10px 0;
    display: inline-block;
}